@import "../app/styles/index.scss";

.secondary {
  color: var(--secondary-color);
}

.lead {
  margin-bottom: 10px;
}

p {
  padding: 10px 0;
}

h1 {
  line-height: 32px;
}

h2 {
  margin-top: 20px 0 10px 0;
}

figure {
  margin: 10px 0;

  padding: 20px;
  border: 1px solid;
  border-color: var(--primary-elements-color-click);
  border-radius: 10px;

  display: flex;
  width: 100% !important;

  figcaption {
    min-width: 200px;
    padding-left: 10px;
  }

  img {
    flex: 1;
    width: 70% !important;
    height: auto !important;
    border-radius: 5px;
  }
}

.element-image__caption {
  font-style: italic;
}

.head {
  margin-bottom: 30px;
}

a {
  color: var(--primary-elements-color);
}

@media screen and (max-width: 750px) {
  figure {
    flex-direction: column;

    img,
    figcaption {
      width: 100% !important;
    }

    figcaption {
      padding: 10px 0 0 0;
    }
  }
}
