.app {
  --bg-color: #ffffff;
  --secondary-bg-color: #f9f7f4;
  --inverted-bg-color: #142b41;
  --primary-color: #111111;
  --secondary-color: #626262;
  --inverted-primary-color: #e0e0e0;
  --inverted-secondary-color: #ababab;
}
